div.col-md-5.col-md-offset-1 
  img.responsive(src='/images/todo.svg')
div.col-md-6 
  div.panel.panel-success
    div.panel-heading
      h3.title Add a Task
    div.panel-body
      form
        div.form-group
          label Title
          input.form-control(type='text', name='title')
        div.form-group
          label Description  
          textarea.form-control(rows='2', name='description')
        div.form-group
          label Due Date
          input.form-control(type='date', name='due_date')
        div.form-group
          label Priority
          select.form-control
            option(value='1') Blue (low priority)
            option(value='2') Green
            option(value='3') Yellow
            option(value='4') Red (high priority)
        div.row
          div.col-md-6
            input.btn.btn-lg.btn-success(type='submit', value='Add Task')
          div.col-md-6.checkbox
            label
              input(type='checkbox', name='completed') 
              | Completed
