div.col-md-5.col-md-offset-1 
  img.responsive(src='/images/todo.svg')
div.col-md-5 
  div.panel.panel-success
    div.panel-heading
      h3.title Register
    div.panel-body
      form
        div.form-group
          label Username
          input.form-control(type='text', name='username')
        div.form-group
          label Password
          input.form-control(type='password', name='password')
        div.form-group
          label Confirm Password
          input.form-control(type='password')
        input.btn.btn-default(type='submit', value='Register')

