/* app css stylesheet */
.panel-red .panel-heading {
    color: #ffffff;
    background-color: #ac0202;
    border-color: #df8d8d;
}
.panel-orange .panel-heading {
    color: #ffffff;
    background-color: #f14400;
    border-color: #f7ae91;
}
.panel-green .panel-heading {
    color: #ffffff;
    background-color: #034a1b;
    border-color: #658568;
}
.panel-blue .panel-heading {
    color: #ffffff;
    background-color: #0c3966;
    border-color: #768390;
}

.title {
  color:white;
}
nav, .navbar, .navbar-default, footer{
  background-image: none;
  background-color: rgba(0, 75, 95, .1);
}
footer{
  background-color: rgba(0, 75, 95, .3);
  padding-top: 50px;
}
.marginTop {
  margin-top:50px;
}
  .jumbotron {
    background: url('/images/stockvault-red-poppy-meadow118132.jpg');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat no-repeat;
    background-color: rgba(0, 75, 95, .8);
  }
.jumbotron h1{
  color:white;
}
.panel-todo .panel-heading {
    color: #ffffff;
    background-color: #004d5d;
    border-color: #6b97a0;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


@media (max-width: 992px){

  .jumbotron {
    background-size: auto 100%;
  }
}